<form>
	<div>
		<label for"registration_username">Username</label>
		<input type="text" name="registration[username]" id="registration_username"></input>
	</div>

	<div>
		<label for"registration_password">password</label>
		<input type="password" name="registration[password]" id="registration_password"></input>
	</div>
</form>